<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to omniauth_authorize_path(resource_name, provider), class: "button is-large is-info is-fullwidth" do %> 
      <span <span class="fa fa-google", style="margin-right:10px"></span> Sign in with Google
    <%end%>
  <% end -%>
<% end -%>